.error{
    color:red;
}

.success{
    color:green;
}

.btn{
    border-radius: 5px;
    background-color: white;
    padding:3px;
    cursor: pointer;
    border: 1px solid black;
}

.btn:hover{
    background-color: honeydew;
}

.github{
    border-radius: 7px;
    background-color: yellow;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}

.github:hover{
    background-color: orange;
}
.container{
    width: 80%;
    margin:0px auto;
}

.header{
    width:100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.input{
    margin: 5px 0px;
}

.input label {
    display: block;
}

.input input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}